<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="EccEntities" connectionString="metadata=res://*/ECC.csdl|res://*/ECC.ssdl|res://*/ECC.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\App_data\Ecc.sdf&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>